:host {
  display: block;
}

.app-custom-table {
  mat-table {
    margin: 25px 0 0;
  }
}

.mat-column-action {
  flex-grow: 0.5;
  justify-content: center;
}

.mat-column-name {
  flex-grow: 8;

  @media (max-width: 1500px) {
    flex-grow: 4;
  }

  @media (max-width: 1200px) {
    flex-grow: 2;
  }

  @media (max-width: 1000px) {
    flex-grow: 1;
  }
}

.mat-column-createdAt {
  justify-content: center;
  white-space: nowrap;
  flex-grow: 1;
}

.mat-column-updatedAt {
  justify-content: center;
  white-space: nowrap;
  flex-grow: 1;
}
