<div *mobxAutorun="{ detach: false }">
  <div class="app-custom-table">
    <h1 class="h4">Custom Table</h1>
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ 'custom.table.header.name' | translate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'custom.table.header.created_at' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.createdAt | dateTimeToFormat:'yyyy-LL-dd HH:mm:ss' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'custom.table.header.updated_at' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.updatedAt | dateTimeToFormat:'yyyy-LL-dd HH:mm:ss' }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator (page)="onPageEvent($event)"
                   [disabled]="paginationDisabled"
                   [length]="pagination?.totalItemCount"
                   [pageSizeOptions]="[5, 10, 20]"
                   [pageSize]="pagination?.itemNumberPerPage ?? limit"
                   [showFirstLastButtons]="true"
                   [pageIndex]="(pagination?.currentPageNumber ?? 1) - 1"
                   [hidePageSize]="false"
                   aria-label="Pagination">
    </mat-paginator>
  </div>
</div>
